<div class="px-4 py-5 my-5 text-center">
    <img class="d-block mx-auto mb-4" src="img/auth-image-index.jpeg" alt="" width="auto" height="240">
    <h1 class="display-5 fw-bold">Welcome To Your Profile, {username}</h1>
    <h1 class="display-20">{user role}</h1>
    <div class="col-lg-6 mx-auto">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">id</th>
                    <th scope="col">fullName</th>
                    <th scope="col">username</th>
                    <th scope="col">password</th>
                </tr>
            </thead>
            <tbody>
                <tr scope="row">
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
        <a href="/logout" type="button" class="btn btn-danger btn-lg px-4 gap-3">Log Out</a>
        <a href="/" class="btn btn-success mt-2">Home</a>
    </div>
</div>